// Custom modifications for RestrictedSites and others modules

// Cosmetic
#content p a:not(.button),
#content span a ,
a.metadata-browse-direct-link,
a.resource-link span,
.value a span {
    background-color: transparent; //Modified
    border-bottom: 2px solid $primary-color; //Added
}

#content p a:hover:not(.button),
#content span a:hover,
a.metadata-browse-direct-link:hover,
a.resource-link:hover span,
.value a span:hover {
    background-color: $primary-color; //Added
    border-bottom: 2px solid $primary-color; //Added
}

// RestrictedSites

.site-login {
	width: span(8);
	margin:auto;
}

    .site-login form .field .field-meta {
        width: span(5 of 12 alpha);
    }

    .site-login form .field > .inputs {
        width: span(7 of 12 omega);
    }

.messages {
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px dashed $primary-color;
}

.messages .error {
	color: red;
}
.messages .success {
	color: green;
}
.messages .warning {
	color: dark orange;
}


// Slider
#itemfiles,
.lSSlideOuter .media-render {
    background-color: $primary-color;
}

// Timeline
.tl-timeline a {
color: black !important;
}
