// Custom modifications for RestrictedSites and others modules

// Cosmetic
#content p a,
#content span a {
    background-color: transparent; //Modified
    border-bottom: 2px solid $primary-color; //Added
}

#content p a:hover,
#content span a:hover {
    background-color: $primary-color; //Added
    border-bottom: 2px solid $primary-color; //Added
}

.value a span {
    background-color: transparent; //Modified
    border-bottom: 2px solid $primary-color; //Added
}

.value a span:hover {
    background-color: $primary-color; //Added
    border-bottom: 2px solid $primary-color; //Added
}

// RestrictedSites

.site-login {
	width: span(8);
	margin:auto;
}

.messages {
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px dashed $primary-color;
}

.messages .error {
	color: red;
}
.messages .success {
	color: green;
}
.messages .warning {
	color: dark orange;
}


// Slider
#itemfiles,
.lSSlideOuter .media-render {
    background-color: $primary-color;
}

// Timeline
.tl-timeline a {
color: black !important;
}
